@charset 'utf-8';
@import 'compass/reset';
$size_1:100%;
$size_2:1200px;
$fontsize_1:12px;
$fontsize_2:14px;
$fontsize_3:15px;
@import '_header.scss';
@import '_wrapper.scss';
@import '_louti_right.scss';