/* line 5, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_header.scss */
#header {
  width: 100%;
  height: 255px;
  font-size: 12px;
}
/* line 5, ../sass/_header.scss */
#header .head_top {
  height: 29px;
  background-color: #f7f7f7;
  position: relative;
  z-index: 600;
  padding-top: 6px;
  border-bottom: 1px solid #ededed;
}
/* line 12, ../sass/_header.scss */
#header .head_top .layout {
  width: 1200px;
  margin: 0 auto;
}
/* line 16, ../sass/_header.scss */
#header .head_top .layout_left {
  height: 22px;
  display: block;
  float: left;
}
/* line 21, ../sass/_header.scss */
#header .head_top .layout_left .li_l {
  width: 148px;
  height: 27px;
}
/* line 25, ../sass/_header.scss */
#header .head_top .layout_left a {
  background: url(../images/ico_return-home.png) no-repeat left center;
  padding-left: 20px;
  color: #666;
  line-height: 22px;
}
/* line 33, ../sass/_header.scss */
#header .head_top .layout_right {
  display: flex;
  float: right;
  justify-content: flex-end;
  align-items: center;
  height: 22px;
}
/* line 40, ../sass/_header.scss */
#header .head_top .layout_right li {
  padding: 0 12px;
  line-height: 22px;
}
/* line 45, ../sass/_header.scss */
#header .head_top ._same {
  background: url(../images/header_1407.png) no-repeat -150px 5px;
}
/* line 48, ../sass/_header.scss */
#header .head_top .phone_youle {
  position: relative;
}
/* line 51, ../sass/_header.scss */
#header .head_top ._jiantou {
  background: url(../images/header_1407.png) no-repeat right 2px;
}
/* line 54, ../sass/_header.scss */
#header .head_top ._jiantou:hover {
  background-position: right -18px;
}
/* line 57, ../sass/_header.scss */
#header .head_top .iphone_ {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  left: 10px;
  top: 4px;
  background: url(../images/header_1407.png);
}
/* line 66, ../sass/_header.scss */
#header .head_top ._phone {
  position: relative;
}
/* line 69, ../sass/_header.scss */
#header .head_top .dianhua {
  display: block;
  width: 60px;
  height: 18px;
  margin-top: 3px;
  text-indent: -10000px;
  overflow: hidden;
  background: url(../images/header_1407.png) no-repeat -260px -25px;
  padding-right: 0;
}
/* line 80, ../sass/_header.scss */
#header .head_middle {
  background-color: #990a1e;
}
/* line 82, ../sass/_header.scss */
#header .head_middle a {
  display: block;
  width: 100%;
  height: 80px;
  background: url(https://pic1.ulecdn.com/item/user_0102/desc20200103/f34fd717ccb4b228_-1x-1.jpg) no-repeat center center;
}
/* line 89, ../sass/_header.scss */
#header .head_bottom {
  width: 1200px;
  height: 99px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 96, ../sass/_header.scss */
#header .head_bottom .hb_left {
  width: 75px;
  height: 75px;
  background: url(../images/logo.png);
}
/* line 102, ../sass/_header.scss */
#header .head_bottom .hb_center {
  position: relative;
  width: 533px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* line 111, ../sass/_header.scss */
#header .head_bottom .hb_center ._search {
  display: flex;
  align-items: center;
  width: 533px;
  height: 36px;
  background: url(../images/header_1407.png) no-repeat 0 -46px;
  position: relative;
}
/* line 119, ../sass/_header.scss */
#header .head_bottom .hb_center ._searchbox {
  display: block;
  margin-left: 6px;
  width: 364px;
  height: 28px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #666;
}
/* line 129, ../sass/_header.scss */
#header .head_bottom .hb_center .search_btn {
  width: 70px;
  height: 36px;
  background: url(../images/header_1407.png) no-repeat -370px -46px;
  border: none;
  outline: none;
  cursor: pointer;
}
/* line 137, ../sass/_header.scss */
#header .head_bottom .hb_center ._ppp {
  position: absolute;
  left: 0;
  top: 64px;
}
/* line 144, ../sass/_header.scss */
#header .head_bottom .hb_right {
  position: relative;
  width: 158px;
  height: 34px;
  border: 1px solid #bdbdbd;
  background: url(../images/header_1407.png) no-repeat 0 -86px;
}
/* line 150, ../sass/_header.scss */
#header .head_bottom .hb_right .car_text {
  display: block;
  padding-left: 31px;
  line-height: 33px;
  cursor: pointer;
}
/* line 156, ../sass/_header.scss */
#header .head_bottom .hb_right .car_num {
  display: block;
  width: 58px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 0;
  color: #900;
  text-align: center;
  line-height: 33px;
  font-size: 16px;
}
/* line 170, ../sass/_header.scss */
#header .head_nav {
  height: 39px;
  background-color: #a71b1b;
  border-top: 1px solid #7a090b;
  position: relative;
  width: 100%;
}
/* line 177, ../sass/_header.scss */
#header .nav_center {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
}
/* line 181, ../sass/_header.scss */
#header .nav_center .all_goods {
  position: relative;
  z-index: 2;
  float: left;
  margin-top: -1px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  background: url(../images/sprite_category.png) no-repeat 0 -16px;
}
/* line 190, ../sass/_header.scss */
#header .nav_center .all_goods a {
  width: 190px;
  height: 40px;
  display: block;
}
/* line 196, ../sass/_header.scss */
#header .nav_center .gray:hover span {
  transform: rotate(360deg);
  transition: 0.8s;
}
/* line 200, ../sass/_header.scss */
#header .nav_center .goods_cate:hover + ._hidden {
  display: block;
}
/* line 203, ../sass/_header.scss */
#header .nav_center ._hidden {
  display: none;
  position: absolute;
  width: 1090px;
  height: 469px;
  box-shadow: -1px 2px 1px 0 #ccc;
  background-color: white;
  left: 190px;
  top: 40px;
}
/* line 213, ../sass/_header.scss */
#header .nav_center .goods_cate {
  width: 190px;
  height: 468px;
  position: absolute;
  background-color: rgba(248, 248, 248, 0.9);
  display: flex;
  flex-direction: column;
}
/* line 220, ../sass/_header.scss */
#header .nav_center .goods_cate a {
  width: 173px;
  height: 36px;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 17px;
}
/* line 229, ../sass/_header.scss */
#header .nav_center .goods_cate a:hover {
  background-color: #fff;
  box-shadow: -1px 2px 1px 0 #ccc;
}
/* line 234, ../sass/_header.scss */
#header .nav_center .goods_cate span {
  width: 16px;
  height: 16px;
  background: url(../images/sprite_category.png) no-repeat;
}
/* line 239, ../sass/_header.scss */
#header .nav_center .goods_cate .tese {
  background-position: -144px 0;
}
/* line 242, ../sass/_header.scss */
#header .nav_center .goods_cate .meizhuang {
  background-position: -48px 0;
}
/* line 245, ../sass/_header.scss */
#header .nav_center .goods_cate .jiaju {
  background-position: -192px 0;
}
/* line 248, ../sass/_header.scss */
#header .nav_center .goods_cate .chuwei {
  background-position: -176px 0;
}
/* line 251, ../sass/_header.scss */
#header .nav_center .goods_cate .dianqi {
  background-position: -32px 0;
}
/* line 254, ../sass/_header.scss */
#header .nav_center .goods_cate .muying {
  background-position: -128px 0;
}
/* line 257, ../sass/_header.scss */
#header .nav_center .goods_cate .xiangbao {
  background-position: -80px 0;
}
/* line 260, ../sass/_header.scss */
#header .nav_center .goods_cate .shouji {
  background-position: 0 0;
}
/* line 263, ../sass/_header.scss */
#header .nav_center .goods_cate .fuzhuang {
  background-position: -64px 0;
}
/* line 266, ../sass/_header.scss */
#header .nav_center .goods_cate .outdoor {
  background-position: -112px 0;
}
/* line 269, ../sass/_header.scss */
#header .nav_center .goods_cate .diannao {
  background-position: -16px 0;
}
/* line 272, ../sass/_header.scss */
#header .nav_center .goods_cate .qiche {
  background-position: -272px -16px;
}
/* line 275, ../sass/_header.scss */
#header .nav_center .goods_cate .trip {
  background-position: -256px 0;
}
/* line 279, ../sass/_header.scss */
#header .nav_center .goods_nav {
  font-size: 16px;
  float: right;
  width: 1010px;
  height: 39px;
  display: flex;
  align-items: center;
}
/* line 286, ../sass/_header.scss */
#header .nav_center .goods_nav a {
  width: 100px;
  height: 39px;
  padding: 0 10px;
  line-height: 39px;
  text-align: center;
}
/* line 293, ../sass/_header.scss */
#header .nav_center .goods_nav a:hover {
  background-color: #6c0709;
}

/* line 1, ../sass/_wrapper.scss */
#wrapper {
  width: 100%;
  background-color: #f3f4f6;
}

/* line 6, ../sass/_wrapper.scss */
.first_banner {
  width: 100%;
  height: 467px;
  background-color: #990a1e;
  position: relative;
}

/* line 13, ../sass/_wrapper.scss */
.banner_items ul {
  width: 100%;
  height: 467px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: -6px;
  display: flex;
  flex-direction: column;
}
/* line 22, ../sass/_wrapper.scss */
.banner_items ul li {
  position: static;
}
/* line 26, ../sass/_wrapper.scss */
.banner_items li {
  width: 100%;
  position: absolute;
  height: 467px;
}
/* line 30, ../sass/_wrapper.scss */
.banner_items li a {
  display: block;
  width: 1200px;
  height: 467px;
  margin: 0 auto;
}
/* line 35, ../sass/_wrapper.scss */
.banner_items li a img {
  display: block;
  width: 100%;
  height: 467px;
}
/* line 42, ../sass/_wrapper.scss */
.banner_items .items_right {
  width: 1200px;
  margin: 0 auto;
}
/* line 46, ../sass/_wrapper.scss */
.banner_items .items_right_box {
  float: right;
  margin-right: 0;
  width: 265px;
  margin-top: -465px;
  position: relative;
  z-index: 1;
}
/* line 53, ../sass/_wrapper.scss */
.banner_items .items_right_box li {
  width: 100%;
  height: 143px;
  margin-bottom: 9px;
  margin-top: 7px;
}
/* line 59, ../sass/_wrapper.scss */
.banner_items .items_right_box img {
  width: 265px;
  height: 143px;
  background-color: rgba(248, 248, 248, 0.9);
}
/* line 64, ../sass/_wrapper.scss */
.banner_items .items_right_box img:hover {
  background-color: #fff;
  transition: 0.7s;
}

/* line 71, ../sass/_wrapper.scss */
._dots {
  position: absolute;
  height: 24px;
  margin-right: -315px;
  right: 50%;
  bottom: 15px;
}
/* line 77, ../sass/_wrapper.scss */
._dots span {
  display: inline-block;
  width: 17px;
  height: 17px;
  line-height: 17px;
  background: url(../images/xiaobiaoqian.png) no-repeat -67px -158px;
  text-align: center;
  margin-left: 10px;
  background-position: -67px -158px;
  cursor: pointer;
}

/* line 89, ../sass/_wrapper.scss */
.bottom_bd {
  position: absolute;
  height: 3px;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 96, ../sass/_wrapper.scss */
.first_tab {
  width: 1200px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}
/* line 101, ../sass/_wrapper.scss */
.first_tab ._tab_main {
  width: 100%;
  float: left;
  padding-top: 20px;
  position: relative;
  z-index: 2;
}
/* line 109, ../sass/_wrapper.scss */
.first_tab ._tab_main_ad {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 53px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
/* line 118, ../sass/_wrapper.scss */
.first_tab .tab_index {
  width: 100%;
  height: 53px;
  position: absolute;
  top: 0;
  z-index: 2;
}
/* line 124, ../sass/_wrapper.scss */
.first_tab .tab_index h4 {
  width: 210px;
  float: left;
  height: 50px;
  line-height: 50px;
  padding-bottom: 2px;
  text-align: center;
  color: #333;
  font-size: 16px;
  font-family: "microsoft yahei";
  cursor: pointer;
  font-weight: normal;
}
/* line 136, ../sass/_wrapper.scss */
.first_tab .tab_index h4 span {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: url(../images/xiangwangyu.png) no-repeat;
  vertical-align: middle;
  margin-right: 5px;
}
/* line 144, ../sass/_wrapper.scss */
.first_tab .tab_index h4 .i_1 {
  background-position: -25px 0;
}
/* line 147, ../sass/_wrapper.scss */
.first_tab .tab_index h4 .i_2 {
  background-position: -105px 0;
}
/* line 150, ../sass/_wrapper.scss */
.first_tab .tab_index h4 .i_3 {
  background-position: -51px 0;
}
/* line 155, ../sass/_wrapper.scss */
.first_tab .tab_items {
  margin-top: 0px;
  width: 100%;
  position: relative;
  z-index: 1;
}
/* line 160, ../sass/_wrapper.scss */
.first_tab .tab_items .cheaps {
  width: 1200px;
  height: 285px;
  padding: 0;
  overflow: hidden;
  background: #fff;
  border-top: 1px solid #f1f0ec;
  display: flex;
}
/* line 169, ../sass/_wrapper.scss */
.first_tab .tab_items .cheaps li {
  padding: 10px 19px;
  width: 200px;
  height: 259px;
  border-right: 1px solid #f1f0ec;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 179, ../sass/_wrapper.scss */
.first_tab .tab_items .farmer_ad {
  width: 1200px;
  height: 130px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
}
/* line 185, ../sass/_wrapper.scss */
.first_tab .tab_items .farmer_ad a {
  width: 390px;
  height: 130px;
  background-color: red;
}
/* line 191, ../sass/_wrapper.scss */
.first_tab .tab_items ._tab_main_last {
  width: 1200px;
  height: 415px;
  margin: 20px auto 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 199, ../sass/_wrapper.scss */
.first_tab .tab_items ._tab_main_last ._cols {
  width: 369px;
  height: 405px;
  padding: 5px 10px;
}
/* line 205, ../sass/_wrapper.scss */
.first_tab .tab_items ._sale {
  height: 55px;
  line-height: 55px;
  display: flex;
  justify-content: space-between;
}
/* line 210, ../sass/_wrapper.scss */
.first_tab .tab_items ._sale h1 {
  font-size: 20px;
}
/* line 216, ../sass/_wrapper.scss */
.first_tab .tab_items ._inside .hd_li {
  width: 1480px;
  height: 354px;
  overflow: hidden;
}
/* line 222, ../sass/_wrapper.scss */
.first_tab .tab_items .nan_bao {
  width: 370px;
  height: 354px;
  float: left;
  overflow: hidden;
}
/* line 228, ../sass/_wrapper.scss */
.first_tab .tab_items ._inside_bottom {
  text-align: center;
  position: relative;
  top: -20px;
}
/* line 232, ../sass/_wrapper.scss */
.first_tab .tab_items ._inside_bottom span {
  display: inline-block;
  margin-left: 10px;
  width: 11px;
  height: 11px;
  text-indent: -20px;
  overflow: hidden;
  background: url(../images/xiaobiaoqian.png) no-repeat;
}
/* line 241, ../sass/_wrapper.scss */
.first_tab .tab_items ._inside_bottom .active_1 {
  background-position: -11px -76px;
}
/* line 244, ../sass/_wrapper.scss */
.first_tab .tab_items ._inside_bottom .active_2 {
  background-position: 0 -76px;
}

/* line 250, ../sass/_wrapper.scss */
.louceng_one {
  width: 1200px;
  margin: 0 auto 20px;
}
/* line 253, ../sass/_wrapper.scss */
.louceng_one .one_top {
  height: 40px;
  padding-bottom: 1px;
  margin-right: 2px;
  border-bottom: 1px solid #ff7b30;
}
/* line 258, ../sass/_wrapper.scss */
.louceng_one .one_top span {
  display: inline-block;
  width: 5px;
  margin-top: 3px;
  height: 25px;
  float: left;
  background: #ff7b30;
}
/* line 266, ../sass/_wrapper.scss */
.louceng_one .one_top h3 {
  float: left;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 10px;
  margin: 6px 10px 0 15px;
  font-size: 22px;
  font-weight: bolder;
  color: #ff7b30;
}
/* line 276, ../sass/_wrapper.scss */
.louceng_one .one_top p {
  float: left;
  margin-top: 12px;
  line-height: 16px;
  display: block;
}
/* line 281, ../sass/_wrapper.scss */
.louceng_one .one_top p a {
  float: left;
  margin-left: 10px;
  color: #99999b;
  font-size: 14px;
  text-decoration: none;
}
/* line 289, ../sass/_wrapper.scss */
.louceng_one .one_top .lcone_right1 {
  float: right;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 16px;
  background: url(../images/xiaobiaoqian.png) no-repeat -90px -158px;
  text-indent: -10000px;
  overflow: hidden;
  margin: 7px;
  margin-right: 0;
  margin-top: 12px;
}
/* line 302, ../sass/_wrapper.scss */
.louceng_one .one_top .lcone_right2 {
  float: right;
  margin-top: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #333;
}
/* line 310, ../sass/_wrapper.scss */
.louceng_one .one_bottom {
  height: 550px;
  background: #f3f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 317, ../sass/_wrapper.scss */
.louceng_one .one_bottom_left {
  width: 270px;
  height: 100%;
}
/* line 321, ../sass/_wrapper.scss */
.louceng_one .one_bottom_right {
  width: 930px;
  height: 100%;
}
/* line 325, ../sass/_wrapper.scss */
.louceng_one .mod_prodlist {
  height: 560px;
  overflow: hidden;
  position: relative;
}
/* line 329, ../sass/_wrapper.scss */
.louceng_one .mod_prodlist ul {
  overflow: hidden;
}
/* line 332, ../sass/_wrapper.scss */
.louceng_one .mod_prodlist li {
  top: 0;
  padding: 10px;
  width: 202px;
  height: 250px;
  margin-left: 10px;
  margin-bottom: 10px;
  background: #fff;
  float: left;
  position: relative;
}
/* line 342, ../sass/_wrapper.scss */
.louceng_one .mod_prodlist li img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
/* line 349, ../sass/_wrapper.scss */
.louceng_one .mod_prodlist li:hover {
  box-shadow: 0 16px 30px -14px rgba(0, 36, 100, 0.3);
  transition: box-shadow .5s;
  top: -4px;
}
/* line 354, ../sass/_wrapper.scss */
.louceng_one .mod_prodlist .prod_title {
  left: 20px;
  width: 200px;
  margin-bottom: 0;
  margin-top: 10px;
  right: 0;
  bottom: 38px;
  padding: 0 5px;
  line-height: 17px;
  height: 17px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 366, ../sass/_wrapper.scss */
.louceng_one .mod_prodlist .prod_title a {
  width: 185px;
  font-size: 14px;
  display: block;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 376, ../sass/_wrapper.scss */
.louceng_one .mod_prodlist .prod_price {
  margin-top: 8px;
  line-height: 18px;
  font-family: "microsoft yahei";
  text-align: center;
}
/* line 381, ../sass/_wrapper.scss */
.louceng_one .mod_prodlist .prod_price span {
  color: #c52e13;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

/* line 391, ../sass/_wrapper.scss */
.louceng_two .one_top {
  border-bottom-color: #1bb145;
}
/* line 393, ../sass/_wrapper.scss */
.louceng_two .one_top span {
  background-color: #1bb145;
}
/* line 396, ../sass/_wrapper.scss */
.louceng_two .one_top h3 {
  color: #1bb145;
}

/* line 402, ../sass/_wrapper.scss */
.louceng_three .one_top {
  border-bottom-color: #2289ff;
}
/* line 404, ../sass/_wrapper.scss */
.louceng_three .one_top span {
  background-color: #2289ff;
}
/* line 407, ../sass/_wrapper.scss */
.louceng_three .one_top h3 {
  color: #2289ff;
}

/* line 413, ../sass/_wrapper.scss */
.louceng_four .one_top {
  border-bottom-color: #000;
}
/* line 415, ../sass/_wrapper.scss */
.louceng_four .one_top span {
  background-color: #000;
}
/* line 418, ../sass/_wrapper.scss */
.louceng_four .one_top h3 {
  color: #000;
}

/* line 424, ../sass/_wrapper.scss */
.louceng_five .one_top {
  border-bottom-color: #ff2f91;
}
/* line 426, ../sass/_wrapper.scss */
.louceng_five .one_top span {
  background-color: #ff2f91;
}
/* line 429, ../sass/_wrapper.scss */
.louceng_five .one_top h3 {
  color: #ff2f91;
}

/* line 434, ../sass/_wrapper.scss */
.guang_guang {
  width: 1210px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
/* line 439, ../sass/_wrapper.scss */
.guang_guang h1 {
  text-align: center;
  font-size: 22px;
  color: #333;
  font-weight: bold;
}
/* line 445, ../sass/_wrapper.scss */
.guang_guang h2 {
  margin: 35px auto 30px auto;
  text-align: center;
  font-size: 16px;
  color: #bbb;
  letter-spacing: 6px;
  height: 30px;
  line-height: 50px;
  background: url(../images/end.png) no-repeat center;
}

/* line 456, ../sass/_wrapper.scss */
.guang_middle {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding-top: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

/* line 465, ../sass/_wrapper.scss */
._gyg {
  height: auto;
  width: 100%;
  overflow: hidden;
}
/* line 469, ../sass/_wrapper.scss */
._gyg li {
  float: left;
  width: 200px;
  padding: 15px;
  position: relative;
  background: #fff;
  margin: 6px;
}
/* line 476, ../sass/_wrapper.scss */
._gyg li a {
  font-size: 14px;
  display: block;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 486, ../sass/_wrapper.scss */
.gyg_loading {
  display: none;
  height: 20px;
  background: url(../images/loading.gif) center no-repeat;
}

/* line 1, ../sass/_louti_right.scss */
#louti_right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 40px;
  z-index: 666;
  background-color: #6c6c6c;
}

/* line 11, ../sass/_louti_right.scss */
.louti_right_tabs {
  z-index: 2020;
  width: 40px;
  height: 100%;
  background-color: #6c6c6c;
}

/* line 17, ../sass/_louti_right.scss */
.louti_right_mods {
  z-index: 2019;
}

/* line 20, ../sass/_louti_right.scss */
.louti_right_tabs_top {
  position: absolute;
  top: 40px;
  z-index: 1;
}

/* line 25, ../sass/_louti_right.scss */
.shangpin_biao {
  position: relative;
  background-color: #6c6c6c;
  background: url(../images/ico_tabs.png) no-repeat 100px 0;
}
/* line 29, ../sass/_louti_right.scss */
.shangpin_biao .shangbiao {
  position: relative;
  z-index: 2;
  padding: 18px 8px;
  width: 24px;
  cursor: pointer;
}
/* line 35, ../sass/_louti_right.scss */
.shangpin_biao .shangbiao i {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/ico_tabs.png) no-repeat left -84px;
}
/* line 42, ../sass/_louti_right.scss */
.shangpin_biao .wenzi {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 40px;
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-family: "microsoft yahei";
  font-size: 16px;
  color: #ffffff;
  background-color: #000;
}
/* line 57, ../sass/_louti_right.scss */
.shangpin_biao .shangbiao:hover + .wenzi {
  display: block;
}
/* line 60, ../sass/_louti_right.scss */
.shangpin_biao ._erweima_biao {
  position: relative;
  z-index: 2;
  padding: 18px 8px;
  width: 24px;
  cursor: pointer;
}
/* line 66, ../sass/_louti_right.scss */
.shangpin_biao ._erweima_biao i {
  position: relative;
  background-color: #6c6c6c;
  background-position: 8px 0;
  cursor: pointer;
  background: url(../images/ico_tabs.png) no-repeat left -108px;
}

/* line 77, ../sass/_louti_right.scss */
.louti_right_tabs_middle {
  position: absolute;
  top: 50%;
  z-index: 2;
  margin-top: -150px;
}

/* line 83, ../sass/_louti_right.scss */
.minddle_tabs_ {
  position: relative;
  background-color: #6c6c6c;
  cursor: pointer;
  background: url(../images/ico_tabs.png) no-repeat 100px 0;
}

/* line 89, ../sass/_louti_right.scss */
.my_youle {
  position: relative;
  z-index: 2;
  display: block;
  padding: 18px 8px;
  width: 24px;
}
/* line 95, ../sass/_louti_right.scss */
.my_youle i {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/ico_tabs.png) no-repeat left -132px;
}
/* line 101, ../sass/_louti_right.scss */
.my_youle .gou_car {
  background-position: left -156px;
}
/* line 104, ../sass/_louti_right.scss */
.my_youle .you_hui {
  background-position: left -180px;
}
/* line 107, ../sass/_louti_right.scss */
.my_youle .my_zuji {
  background-position: left -204px;
}
/* line 110, ../sass/_louti_right.scss */
.my_youle .back_top {
  background-position: left -276px;
}

/* line 114, ../sass/_louti_right.scss */
.my_youle_x {
  display: none;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 40px;
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background-color: black;
}

/* line 128, ../sass/_louti_right.scss */
.my_youle:hover + .my_youle_x {
  display: block;
}

/* line 131, ../sass/_louti_right.scss */
._comeback {
  position: absolute;
  bottom: -210px;
}

/* line 135, ../sass/_louti_right.scss */
.louti_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 286.5px;
  bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}
/* line 146, ../sass/_louti_right.scss */
.louti_left a {
  width: 32px;
  height: 32px;
  text-align: center;
  border-bottom: dotted 1px #ccc;
  padding: 10px;
}
/* line 153, ../sass/_louti_right.scss */
.louti_left .return_top {
  background: url(../images/huojian.png) no-repeat 15px 10px;
}
/* line 156, ../sass/_louti_right.scss */
.louti_left .gray:hover {
  background-color: #ff7b30;
}

/* line 160, ../sass/_louti_right.scss */
.fixed-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 51px;
  left: 0;
  right: 0;
  height: 50px;
  background-image: url(http://i0.ulecdn.com/ule/common/css/images/zjl_icon_001.png);
  background-repeat: repeat;
  border-bottom: 1px solid #d5d5d5;
  -webkit-box-shadow: 1px 1px 3px #d5d5d5;
  z-index: 100000000;
}
/* line 172, ../sass/_louti_right.scss */
.fixed-menu .fixed-middel {
  width: 1200px;
  zoom: 1;
  margin: 0 auto;
  clear: both;
}
/* line 178, ../sass/_louti_right.scss */
.fixed-menu .fixed-logo {
  background-image: url(http://i0.ulecdn.com/ule/common/css/images/zjl_icon_002.png);
  width: 54px;
  height: 40px;
  float: left;
  margin-top: 5px;
}
/* line 185, ../sass/_louti_right.scss */
.fixed-menu .head-search {
  width: 533px;
  float: right;
  position: relative;
  margin-top: 7px;
  margin-right: 376px;
}
/* line 191, ../sass/_louti_right.scss */
.fixed-menu .head-search form {
  height: 36px;
  display: block;
}

/* line 2, ../sass/_footer.scss */
#bottom1 {
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
}

/* line 6, ../sass/_footer.scss */
footer {
  width: 1200px;
  margin: 0 auto;
}

/* line 11, ../sass/_footer.scss */
.footer_links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 0;
  text-align: center;
  zoom: 1;
}

/* line 19, ../sass/_footer.scss */
.footer_links_list {
  font-size: 12px;
  color: #111;
}
/* line 22, ../sass/_footer.scss */
.footer_links_list a {
  font-size: 12px;
  color: #111;
}
/* line 25, ../sass/_footer.scss */
.footer_links_list a:hover {
  color: #ff1268;
  text-decoration: underline;
}

/* line 31, ../sass/_footer.scss */
.footer_links_grep {
  padding: 0 24px;
  font-size: 12px;
  color: #111;
}

/* line 36, ../sass/_footer.scss */
.footer_ft {
  padding-bottom: 58px;
  zoom: 1;
  display: flex;
  justify-content: space-between;
}

/* line 42, ../sass/_footer.scss */
.footer_fl {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* line 46, ../sass/_footer.scss */
.footer_fl a {
  zoom: 1;
  float: left;
  margin-top: 20px;
  width: 167px;
  height: 60px;
}
/* line 52, ../sass/_footer.scss */
.footer_fl a img {
  width: 100%;
  display: block;
}
/* line 57, ../sass/_footer.scss */
.footer_fl .footer_code_box {
  width: 87px;
  text-align: center;
  margin-left: 40px;
  font-size: 14px;
  color: #111111;
}
/* line 63, ../sass/_footer.scss */
.footer_fl .footer_code_box img {
  display: block;
  width: 87px;
  height: 87px;
  margin-bottom: 8px;
}

/* line 72, ../sass/_footer.scss */
.footer_fr .footer_fr_contact {
  zoom: 1;
  padding-bottom: 10px;
}
/* line 75, ../sass/_footer.scss */
.footer_fr .footer_fr_contact a {
  display: block;
  width: 98px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  background-color: #ff1268;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
}
/* line 87, ../sass/_footer.scss */
.footer_fr .footer_fr_words {
  padding-bottom: 6px;
  zoom: 1;
  display: flex;
}
/* line 91, ../sass/_footer.scss */
.footer_fr .footer_fr_words .footer_links_grep {
  padding: 0 15px;
}
/* line 95, ../sass/_footer.scss */
.footer_fr .footer_fr_words a:hover {
  text-decoration: none;
}
/* line 98, ../sass/_footer.scss */
.footer_fr .footer_fr_img {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
/* line 102, ../sass/_footer.scss */
.footer_fr .footer_fr_img a {
  margin-right: 5px;
}
/* line 104, ../sass/_footer.scss */
.footer_fr .footer_fr_img a img {
  display: block;
  height: 30px;
}
/* line 109, ../sass/_footer.scss */
.footer_fr .footer_fr_img a:nth-of-type(3) img {
  width: 114px;
  height: 40px;
}

/* line 15, ../sass/index.scss */
a {
  text-decoration: none;
}

/* line 18, ../sass/index.scss */
.blue {
  color: #06c;
}

/* line 21, ../sass/index.scss */
.gray {
  color: #666;
}

/* line 24, ../sass/index.scss */
._red {
  color: #c51010;
}

/* line 27, ../sass/index.scss */
._white {
  color: #fff;
}

/* line 30, ../sass/index.scss */
.clear::after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}

/* line 38, ../sass/index.scss */
._block {
  display: block;
}

/* line 41, ../sass/index.scss */
ul {
  list-style: none;
}

/* line 44, ../sass/index.scss */
.active {
  position: -47px -158px;
}

/* line 47, ../sass/index.scss */
.show_bg {
  background: #ff7b30;
}
